/* Empty. Add your own CSS if you like */

.content{
    background-color:#333D4A;
}

.item-content{
    background:#333D4A;
    color:whitesmoke;
}

.item .item-content{
    background-color:transparent !important
}

.cell-features{
    display:table;
    vertical-align:central !important;
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    font-weight:600;
    padding:10px;
    color:whitesmoke;
}

.usage-cell-features{
    display:table;
    vertical-align:central !important;
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
    font-weight:600;
    padding:10px;
    color:whitesmoke;
}

.n-coal-bgimage{
     height:170px;
     background-image: url('../img/n-coal.jpg') !Important;
}


.n-electricity-bgimage{
    height:170px;
    background-image:url('../img/n-neighborhood.jpg')
}

.n-water-bgimage{
    height:170px;
    background-image:url('../img/n-water.jpg')
}

ion-item {
  background-color: transparent !important;
}

.custom-icon-dead {
  font-size: 64px;
  color : red;
}

.custom-icon-alive {
  font-size: 64px;
  color : forestgreen;
}

