<ion-view view-title="My impact">
  <ion-content scroll="false" class="content">
          <div class="row ">
              <div class="col col-center n-coal-bgimage usage-cell-features">
                {{ individual }}
              </div>
          </div>
          <div class="row ">
              <div class="col col-center n-electricity-bgimage usage-cell-features">
                  {{ neighbor }}
              </div>
          </div>
          <div class="row ">
              <div class="col col-center n-water-bgimage usage-cell-features">
                  {{ global }}
              </div>
          </div>
  </ion-content>
</ion-view>
