<ion-view view-title="Neighborhood impact">
  <ion-content scroll="false" class="content">
          <div class="row ">
              <div class="col col-center n-coal-bgimage usage-cell-features">XX tonnes of coal</div>
          </div>
          <div class="row ">
              <div class="col col-center n-electricity-bgimage usage-cell-features">
                  Electricity for ___ days for your neighborhood
              </div>
          </div>
          <div class="row ">
              <div class="col col-center n-water-bgimage usage-cell-features">
                  Water for ___ days for your neighborhood
              </div>
          </div>
  </ion-content>
</ion-view>
